Plugins/MLBasedLODSelector/Binaries/*
Plugins/MLBasedLODSelector/Intermediate/*
/.vs
/Binaries
/Config
/Content
/DerivedDataCache
/intermediate
/Saved
.ignore
.vsconfig
LODPlugin.code-workspace
LODPlugin.sln
LODPlugin.uproject
/Plugins/tempPlugin
/Plugins/MLBasedNaniteExtend