Plugins/MLBasedLODSelector/Binaries
Plugins/MLBasedLODSelector/Intermediate
/.vs
/Binaries
/Config
/Content
/DerivedDataCache
/intermediate
/Saved
.ignore
.vsconfig
LODPlugin.code-workspace
LODPlugin.sln
LODPlugin.uproject
/Plugins/tempPlugin
/Plugins/MLBasedNaniteExtend
/PythonAPI/model.onnx
/PythonAPI/python
/PythonAPI/save_0.pth
Plugins/MLBasedLODSelector/Binaries/*
Plugins/MLBasedLODSelector/Intermediate/*
Plugins/MLBasedLODSelector/ThirdParty/*